.hero {
    background-image: url(/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 70px;
    height: 708px;
    padding: 50px;
}

.hero h1 {
    font-size: 65px;
    line-height: 125%;
}

.hero-text {
    width: 435px;
}